@model AHR.Client.ViewModels.CourseIndexViewModel
@{
    ViewData["Title"] = "Courses";
}

@section Scripts
{
    <script>
        var checkBoxes = $('.courses-checkbox');
        checkBoxes.change(function () {
            $('#calculate-btn').prop('disabled', checkBoxes.filter(':checked').length < 1);
        });
        
        checkBoxes.change();
    </script>

    <script>
        $(function() {
            var studentId = $("#SelectedStudentId").val();
            $("#study-plan").load(`/Course/GetStudentStudyPlanDetails?studentId=${studentId}`);
        });
        
        $('#SelectedStudentId').change(function(e) {
            var studentId = $("#SelectedStudentId").val();
            $("#study-plan").load(`/Course/GetStudentStudyPlanDetails?studentId=${studentId}`);
        });
        
        function deleteStudyPlan(id) {
            $.ajax({
                url: `/Course/RemoveStudyPlan/${id}`,
                type: 'DELETE',
                success: function(result) {
                    $(`#study-plan-${id}`).remove();
                }
            });
        }
    </script>
}

<form method="post" asp-action="Create" asp-controller="Course">
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="form-label" for="SelectedStudentId">Student</label>
            <select class="form-select" id="SelectedStudentId" name="SelectedStudentId">
                @foreach (var student in Model.Students)
                {
                    <option value="@student.Id">@student.Name</option>
                }
            </select>
        </div>
    </div>
    
    <hr/>
    
    <div class="mt-3">
        <h2 class="mb-3">Study Plans</h2>
        <div id="study-plan">
            This user does not have a study plan.
        </div>
    </div>
    
    <hr/>
    
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="form-label" for="start_date">Start Date</label>
            <div class="input-group">
                <input type="date" date asp-for="StartDate" class="form-control datepicker" placeholder="Select Date">
            </div>
        </div>
    
        <div class="col-12">
            <label class="form-label" for="end_date">End Date</label>
            <div class="input-group">
                <input type="date" asp-for="EndDate" class="form-control datepicker" placeholder="Select Date">
            </div>
        </div>
    
        <div class="col-12">
            <label class="form-label" for="inlineFormSelectPref">Maximum daily learning hours</label>
            <select class="form-select" id="inlineFormSelectPref" name="AvailableHoursPerDay">
                <option value="1">1 Hour</option>
                <option value="2">2 Hours</option>
                <option value="3">3 Hours</option>
                <option value="4">4 Hours</option>
                <option value="5">5 Hours</option>
                <option value="6">6 Hours</option>
                <option value="7">7 Hours</option>
                <option value="8">8 Hours</option>
            </select>
        </div>
    
        <div class="col-12 mt-5">
            <button type="submit" id="calculate-btn" class="btn btn-primary" disabled>Calculate</button>
        </div>
    </div>
    
    <div class="row text-danger font-weight-bold mt-3">
        <div class="col">
            @Html.ValidationSummary()
        </div>
    </div>
    
    <div class="mt-3">
        <h2>Courses</h2>
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Index</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Course Duration</th>
                </tr>
                </thead>

                <tbody>
                @for (var i = 0; i < Model.Courses.Count(); i++)
                {
                    var index = i + 1;

                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input courses-checkbox"
                                       id="@Model.Courses[i].Id"
                                       asp-for="Courses[i].Selected"
                                       type="checkbox">
                            </div>
                        </td>

                        <th scope="row">@index</th>
                        <td>@Model.Courses[i].Name</td>
                        <td>@Model.Courses[i].Duration</td>

                        <input type="hidden" asp-for="Courses[i].Id"/>
                        <input type="hidden" asp-for="Courses[i].Name"/>
                        <input type="hidden" asp-for="Courses[i].Duration"/>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</form>